body{
	width:840px;
	height:1315px;
	margin:auto;
	margin-top:20px;
	background-color:#252623;
}

header{
	background-color:#283040;
	color:#FCFFF5;
	height:145px;
	padding:15px;
}


#skillsy{
	background-color:#AEB4BF;
	width:32%;
	float:left;
	height:1070px;
	text-align:center;
	padding:px;
	
}



#costam{
	background-color:#EBEDF2;
	width:68%;
	float:left;
	height:1070px;
}


#cos{
Margin-left:5%; 
border-left:black solid;
	
}